@import "./tailwind.css";

main {
    grid-template:
    "aside header" 60px
    "aside section" auto / 388px;

    aside {
        grid-area: aside;

        @apply p-4 m-4;
    }

    header {
        grid-area: header;

        @apply p-4 m-4;
    }

    section {
        grid-area: section;

        @apply p-4 m-4;
    }

    @apply grid min-h-screen;
}

/* Sonner styles */
[data-sonner-toast] {
    @apply w-80!;

    [data-icon] {
        @apply mx-0!;
    }
}