@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    /* Theme */

    /* This creates duration-2000 and duration-3s utilities */
    --animate-duration-slow: 2000ms;
    --animate-duration-ultra: 3s;

    /* Breakpoints  */
    --breakpoint-xs: 90rem; /* 360px */
    --breakpoint-sm: 160rem; /* 640px */
    --breakpoint-md: 192rem; /* 768px */
    --breakpoint-lg: 256rem; /* 1024px */
    --breakpoint-xl: 320rem; /* 1280px */
    --breakpoint-2xl: 360rem; /* 1440px */
    --breakpoint-xxl: 640rem; /* 2560px */
}

/* :root { */

/* !*    *! */

/* } */

/* .dark { */

/* !*   *! */

/* } */

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        /* border-color: var(--color-border, currentColor); */
    }
}

@layer utilities {
    .center {
        @apply flex items-center justify-center;
    }
}

/* @layer components { */

/* !*    *! */

/* } */